$background-body : #D6D6D6;
$background-white :  #D3D7CF;

$orange : #EC6608;
$button-border : 1em;

// FontAwesome
$fa : 4em;

// HEADER
$text-head : 1.6em;

// BODY
$body-width : 910px;

// SECTION
$citation-size : 1.3em;
$article-width : 800px;


// ARTICLE
$article-title : 1.2em;
